
:root {
	--background: hsl(235, 100%, 3%);
}

html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	background-image: url(../images/stars.svg);
	background-size: 20%;
	width: 100vw;
	overflow: hidden;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.2em;
}

main {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

article {
	scroll-snap-align: start;
	/* border: 1px solid red; */
	width: 100%;
	max-width: 80rem;
	margin: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	position: relative;
	padding: 2rem;
}

.animContainer {
	overflow: hidden;
	object-fit: fill;
}

.animContainer > canvas {
	height: 100%;
	position: absolute;
	z-index: -1;
}

.animContainer > section > p {
	opacity: 0;
	transition: 500ms opacity;
	padding: 0 0 1rem 0;
}

.visible-fade {
	opacity: 1 !important;
}
