
:root {
	--background: hsl(0, 0%, 0%);
	--primary: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	background-image: url(../images/bg-stars.svg);
	background-size: 20%;
	background-attachment: fixed;
	width: 100vw;
	color: white;
	font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4 {
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2.625rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4, h5 {
	font-size: 1.125rem;
}

h5 {
	font-family: 'Source Serif Pro', serif;
}

p, li {
	line-height: 160%;
}

header {
	background-color: var(--background);
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
}

header > nav {
	width: 100%;
	max-width: 75rem;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 1px solid var(--primary);
}

header > nav > h1 {
	font-size: 1.5rem;
}

.hamburgerBtn {
	width: 1rem;
	height: 1rem;
}

main {
	max-width: 75rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1.5rem;
	margin: auto;
}

main > article {
	grid-column: 1 / span 5;
}

.overview {
	height: 100vh;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	overflow-y: hidden;
}

.overview > div {
	display: flex;
	align-items: center;
	gap: 1rem;
	rotate: -90deg;
	position: absolute;
	transform: translate(0, -200%);
	left: 0rem;
	top: 50vh;
}

.overviewPrev, .overviewNext {
	width: 1rem;
	height: 1rem;
	background: url(../images/arrow.svg) no-repeat;
	background-size: contain;
	border: none;
}

.overviewPrev {
	rotate: -90deg;
}

.overviewNext {
	rotate: 90deg;
}

.overviewOpen {
	background-color: transparent;
	border: none;
	font-family: 'Source Serif Pro', serif;
	font-size: 1rem;
	color: var(--primary);
}

.overviewOpen >  span {
	display: block;
	transform: scale(1);
	width: 100%;
	height: 1px;
	background-color: var(--primary);
	transition: 100ms;
}

.overviewOpen:hover > span {
	transform: scale(1.1);
	transition: 100ms;
}

.overviewClose {
	width: 1rem;
	aspect-ratio: 1/1;
	background: url(../images/chevron-left.svg) no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 50vh;
	transform: translateY(-50%);
}

.overview > nav {
	width: 20rem;
	height: 100vh;
	background: var(--background);
	transform: translateX(-110%);
	transition: 200ms;
}

.overviewNavOpen {
	transform: translateX(0%) !important;
}

.overview > nav > ul {
	padding: 2rem 0 0 4rem;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.overview ul {
	list-style: none;
}

.overview li {
	padding: .2rem 0 .2rem 0;
}

.overview > nav > ul > li > ul {
	padding-left: 1rem;
}

.animContainer {
	overflow: hidden;
	object-fit: fill;
	position: relative;

	grid-column: 7 / span 6;
}

.animContainer > canvas {
	width: 100%;
	position: absolute;
	z-index: -1;
}

